<content title="{{title}}">
    <form name="form">
        <a class="btn btn-success" ng-click="save(form)" ng-disabled="form.$invalid">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            {{'SAVE' | translate}}
        </a>

        <div class="row" style="padding: 5px">
            <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                <label class="control-label" >{{'AD TITLE' | translate}}</label>
                <div>
                    <input type="text" ng-model="ad.title" class="form-control" required name="title"/>
                </div>
                <p ng-show="form.title.$invalid && !form.title.$pristine">
                    <span class="label label-danger">{{'TITLE IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.category.$invalid && !form.category.$pristine }">
                <label class="control-label" >{{'CATEGORY' | translate}}</label>
                <div>
                    <dropdownlist url="/api/categories" valueprop="_id" displayprop="title" placeholder="..."
                           model="ad.category._id" name="category" width="400px" required ></dropdownlist>
                </div>
                <p ng-show="form.category.$invalid && !form.category.$pristine">
                    <span class="label label-danger">{{'CATEGORY IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.price.$invalid && !form.price.$pristine }">
                <label class="control-label" >{{'PRICE' | translate}}</label>
               <div>
                   <numeric model="ad.price" name="price"  isprice="true" required></numeric>
               </div>
                <p ng-show="form.price.$invalid && !form.price.$pristine">
                    <span class="label label-danger">{{'PRICE IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.des.$invalid && !form.des.$pristine }">
                <label class="control-label" >{{'DES' | translate}}</label>
                <div>
                  <textarea ng-model="ad.des" name="des" class="form-control"></textarea>
                </div>
                <p ng-show="form.des.$invalid && !form.des.$pristine">

                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.phone.$invalid && !form.phone.$pristine }">
                <label class="control-label" >{{'PHONE' | translate}}</label>
                <div>
                    <input type="text" ng-model="ad.phone" class="form-control" name="phone">
                </div>

                <p ng-show="form.phone.$invalid && !form.phone.$pristine">

                </p>
            </div>

            <div class="form-group">
                <uploader uploaded="imageUploaded(img)"></uploader>
                <p ng-if="ad.image != ''" >
                    <img src="{{ad.image}}" style="max-height: 600px;max-width: 300px">
                </p>
            </div>
        </div>
    </form>
</content>


