
        <content title="{{title}}">
            <ul>
                <li><a href="#/user/register">Register</a></li>
                <li><a href="#/contactUs">Contact us</a></li>
                <li><a href="#/productList">product list</a></li>
                <li><a href="#/categoriesList">category list</a></li>
            </ul>


            <button class="btn btn-default" ng-click="open()">Open me!</button>
            <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
            <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>

            <a class="btn btn-primary" ng-click="openConfirm()">Save</a>
        </content>



