<content title="{{title}}">
    <form name="form">
        <a class="btn btn-success" ng-click="save(form)" ng-disabled="form.$invalid">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            {{'SAVE' | translate}}
        </a>

        <div class="row" style="padding: 5px">
            <div class="form-group" ng-class="{ 'has-error' : form.firstName.$invalid && !form.firstName.$pristine }">
                <label class="control-label" >{{'FIRSTNAME' | translate}}</label>
                <div>
                    <input type="text" ng-model="user.firstName" class="form-control" required name="firstName"/>
                </div>
                <p ng-show="form.firstName.$invalid && !form.firstName.$pristine">
                    <span class="label label-danger">{{'FIRSTNAME IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.lastName.$invalid && !form.lastName.$pristine }">
                <label class="control-label" >{{'LASTNAME' | translate}}</label>
                <div>
                    <input type="text" ng-model="user.lastName" class="form-control" required name="lastName"/>
                </div>
                <p ng-show="form.lastName.$invalid && !form.lastName.$pristine">
                    <span class="label label-danger">{{'LASTNAME IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.username.$invalid && !form.username.$pristine }">
                <label class="control-label" >{{'USERNAME' | translate}}</label>
                <div>
                    <input type="text" ng-model="user.username" class="form-control" required name="username"/>
                </div>
                <p ng-show="form.username.$invalid && !form.username.$pristine">
                    <span class="label label-danger">{{'USERNAME IS REQUIRED' | translate}}</span>
                </p>
            </div>
        </div>
    </form>
</content>