<content title="">
    <div class="alert alert-success">
        <strong>کاربر گرامی !</strong>
        آگهی شما با موفقیت ثبت شد
        <div style="margin-top: 30px">
            <a href="#" class="btn btn-info">
                <i class="glyphicon glyphicon-expand"></i>
                نمایش آگهی
            </a>
            <a href="#/ad/edit/{{id}}" class="btn btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
                ویرایش آگهی
            </a>
        </div>
    </div>
</content>